// COLOR PALETTE -- MAIN
// http://www.colourlovers.com/palette/2104624/%E5%B0%BE%E5%B7%9E%E4%B8%8D%E4%BA%8C%E8%A6%8B%E5%8E%9F

PRIMARY                      = #BFBD34
SECONDARY                    = #EF8462
ACCENT                       = #7AA6A7

LIGHT                        = #F3DEB1
DARK                         = #302B27

// COLOR PALETTE
// http://www.colourlovers.com/palette/2847885/Backyard_Tent

// PRIMARY                      = #7392B6
// SECONDARY                    = #378091
// ACCENT                       = #AB4D69

// LIGHT                        = #C67559
// DARK                         = #B6655C

// COLOR PALETTE
// http://www.colourlovers.com/palette/2848751/Vanilla_Bean

// PRIMARY                      = #AFC4A1
// SECONDARY                    = #503F31
// ACCENT                       = #EA7269

// LIGHT                        = #F9E7C8
// DARK                         = #FABEA0

// COLOR PALETTE
// http://www.colourlovers.com/palette/92095/Giant_Goldfish

// PRIMARY                      = #69D2E7
// SECONDARY                    = #A7DBD8
// ACCENT                       = #b0b3a1

// LIGHT                        = #F38630
// DARK                         = #FA6900

// COLOR PALETTE
// http://www.colourlovers.com/palette/2858641/theatrical_laughter

// PRIMARY                      = #035973
// SECONDARY                    = #E88F00
// ACCENT                       = #85823A

// LIGHT                        = #F2DDB3
// DARK                         = #120B06

// COLOR PALETTE
// http://www.colourlovers.com/palette/2104176/%E5%B1%B1%E4%B8%8B%E7%99%BD%E9%9B%A8

// PRIMARY                      = #82AEAF
// SECONDARY                    = #EC4E31
// ACCENT                       = #4A1821

// LIGHT                        = #FCE6B4
// DARK                         = #291514


// base colors
WHITE                        = #fff
BLACK                        = #000

// layouts
BODY_FONT_COLOR              = #222
BODY_FONTS                   = "Karla", "Helevetica Neue", Helevetica, Arial, sans-serf
BODY_HEADING_FONTS           = BODY_FONTS
BODY_FONTSIZE                = 14px
BODY_LINEHEIGHT              = 1.5em
BODY_BACKGROUND              = WHITE
BODY_FONT_WEIGHT             = 400
FONT_SMOOTHING               = antialiased
TEXT_SIZE_ADJUST             = 100%
MONOSPACE_FONT               = monospace
SERIF_FONT                   = Georgia
// this controls a lot of the vertical spacing
MARGIN_BOTTOM                = 1em
PADDED                       = 0.5em 1em
TRANSITION                   = 200ms
ROUNDED                      = 0.5em
HEADING_FONT_WEIGHT          = 700

// used for lighten and darken across the styles
GLOSS                        = 20%

// small screens
SSCREEN                      = "(max-width: 480px)"
// protrait tablets
PSCREEN                      = "(max-width: 767px)"
// tablets(landscapes)
MSCREEN                      = "(min-width: 768px) and (max-width: 979px)"
// large screens
LSCREEN                      = "(min-width: 1024px)"
// retina screens http://goo.gl/SVVFl
RSCREEN                      = "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)"

// grid
CONTAINER_WIDTH              = 960px
CONTAINER_MARGIN             = 1em auto 0
CONTAINER_PADDING            = 0
GRID_BREAK                   = PSCREEN
GRID_BOTTOM_MARGIN           = MARGIN_BOTTOM
GRID_PADDING                 = 0 0 1em 0

// buttons
BUTTON_LIGHT_TEXT            = lighten(BODY_FONT_COLOR, GLOSS)
BUTTON_DEFAULT_COLOR         = lighten(BODY_FONT_COLOR, GLOSS)
BUTTON_TEXT_SHADOW           = true
BUTTON_BOX_SHADOW            = true
BUTTON_BORDERS               = true
BUTTON_ROUNDED               = true
BUTTON_TRANSITION            = true
BUTTON_SHADOW_SIZE           = 0 1px 0
BUTTON_FONT_WEIGHT           = BODY_FONT_WEIGHT
BUTTON_PADDING               = PADDED
BUTTON_FONT_FAMILY           = BODY_FONTS
BUTTON_LINEHEIGHT            = BODY_LINEHEIGHT
BUTTON_BORDER_RADIUS         = ROUNDED

// form
FORM_BACKGROUND              = #f8f8f8
FORM_PADDING                 = 0.5em
FORM_BORDER                  = #CCC
FORM_CHANGE                  = GLOSS
FORM_PLACEHOLDER             = lighten(FORM_BORDER, FORM_CHANGE)
FORM_ERROR                   = #d70002
FORM_INPUT_WIDTH             = 15em
FORM_BOTTOM_MARGIN           = MARGIN_BOTTOM

// table
TABLE_BORDER_COLOR           = FORM_BORDER
TABLE_HEADER_BACKGROUND      = darken(BODY_BACKGROUND, 4%)
TABLE_ZEBRA_BACKGROUND       = TABLE_HEADER_BACKGROUND
TABLE_MOBILE_PADDING         = 0.2em 0.5em






