@import "__variables.styl"

@-webkit-viewport
  width: device-width

@-moz-viewport
  width: device-width

@-ms-viewport
  width: device-width

@-o-viewport
  width: device-width

@viewport
  width: device-width

body
  font: normal normal BODY_FONT_WEIGHT BODY_FONTSIZE/BODY_LINEHEIGHT BODY_FONTS;
  margin: 0
  padding: 0
  color: BODY_FONT_COLOR
  background: BODY_BACKGROUND
  -webkit-font-smoothing: FONT_SMOOTHING
  -webkit-overflow-scrolling: touch
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  text-size-adjust: TEXT_SIZE_ADJUST
  *
    box-sizing: border-box
    background-clip: padding-box

a, a:link
  color: PRIMARY
  text-decoration: none
  outline: 0
  &:hover
    color: darken(@color, GLOSS)

b, strong
  font-weight: HEADING_FONT_WEIGHT

mark
  background: PRIMARY
  color: WHITE

hr
  border: none
  border-bottom: 1px solid FORM_BORDER

em
  font-style: italic

h1, h2, h3, h4, h5, h6
  font-weight: HEADING_FONT_WEIGHT

h1
  font-size: 2em
  margin: 0.67em 0

h2
  font-size: 1.5em
  margin: 0.83em 0

h3
  font-size: 1.17em
  margin: 1em 0

h4
  font-size: 1em
  margin: 1.33em 0

h5
  font-size: 0.83em
  margin: 1.67em 0

h6
  font-size: 0.75em
  margin: 2.33em 0

.bg-white
  background-color: WHITE !important
.bg-black
  background-color: BLACK !important
.bg-primary
  background-color: PRIMARY !important
.bg-secondary
  background-color: SECONDARY !important
.bg-accent
  background-color: ACCENT !important
.bg-light
  background-color: LIGHT !important
.bg-dark
  background-color: DARK !important

.color-white
  color: WHITE !important
.color-black
  color: BLACK !important
.color-primary
  color: PRIMARY !important
.color-secondary
  color: SECONDARY !important
.color-accent
  color: ACCENT !important
.color-light
  color: LIGHT !important
.color-dark
  color: DARK !important

.center
  vertical-align: top
  text-align: center

i
  font-style: normal !important
  .space-right
    margin: 0 0.25em 0 0
  .space-left
    margin: 0 0 0 0.25em

.alert
  text-align: center
  display: block
  width: 100%
  padding: PADDED
  margin-bottom: GRID_BOTTOM_MARGIN
  border-radius: ROUNDED
  .close-alert
    color: rgba(0,0,0,0.5)
    float: right
    padding: 0
    text-shadow: none
    transition: color TRANSITION ease
    &:hover
      color: rgba(255,255,255,1)

.clearfix
  clearfix()

code
  font-size: 1em
  font-family: MONOSPACE_FONT
  font-weight: bold
  padding: 0.2em 0.4em
  border-radius: ROUNDED
  white-space: pre

p code
  padding: 0.1em 0.4em

figure
  text-align: center
  figcaption
    font-style: italic
    font-family: SERIF_FONT

fieldset
  border: 1px solid FORM_BORDER

blockquote
  margin: 2em
  line-height: 1.5em
  font-size: 1.5em
  font-style: italic
  font-family: SERIF_FONT
  text-align: center
  code
    padding: 0

@media SSCREEN
  .visible-small
    display: block !important
  .visible-mobile
    display: none !important
  .visible-tablet
    display: none !important
  .visible-desktop
    display: none !important

@media PSCREEN
  .visible-small
    display: none !important
  .visible-mobile
    display: block !important
  .visible-tablet
    display: none !important
  .visible-desktop
    display: none !important

@media MSCREEN
  .visible-small
    display: none !important
  .visible-mobile
    display: none !important
  .visible-tablet
    display: block !important
  .visible-desktop
    display: none !important

@media LSCREEN
  .visible-small
    display: none !important
  .visible-mobile
    display: none !important
  .visible-tablet
    display: none !important
  .visible-desktop
    display: block !important