@import "__variables.styl"

::-webkit-input-placeholder
  color: FORM_PLACEHOLDER
:-moz-placeholder
  color: FORM_PLACEHOLDER
::-moz-placeholder
  color: FORM_PLACEHOLDER
:-ms-input-placeholder
  color: FORM_PLACEHOLDER

form
  input[type='text'], input[type='radio'], input[type='checkbox'], input[type='email'], input[type='search'], input[type='tel'], input[type='url'], input[type='password'], input[type='file'], select, textarea
    margin-bottom: FORM_BOTTOM_MARGIN
    width: FORM_INPUT_WIDTH
    border: 1px solid FORM_BORDER
    outline: none
    border-radius: ROUNDED
    padding: FORM_PADDING
    transition: border TRANSITION ease
    &:focus, &:focus:hover
      border: 1px solid darken(FORM_BORDER, FORM_CHANGE)
    &:hover
      border: 1px solid lighten(FORM_BORDER, FORM_CHANGE)
  input.error
    border: 1px solid FORM_ERROR !important
  select
    -webkit-appearance: none
    -moz-appearance: none
  textarea
    min-height: (FORM_INPUT_WIDTH/2)
    max-height: (FORM_INPUT_WIDTH*2)
    max-width: 100%
  textarea.no-resize
    resize: none
  input[type='radio'], input[type='checkbox']
    width: auto
  label
    width: FORM_INPUT_WIDTH
    border: none
    margin-bottom: FORM_BOTTOM_MARGIN
    border-radius: none
  label
    input[type='radio'],
    input[type='checkbox']
      float: right
      margin: 0 0.5em
      &:hover
        cursor: pointer

form.clear-inputs
  input[type='text'], input[type='email'], input[type='search'], input[type='tel'], input[type='url'], input[type='password'], input[type='file'], select, textarea, label
    display: block

@media LSCREEN
  form.desktop-full
    input[type='text'], input[type='email'], input[type='search'], input[type='tel'], input[type='url'], input[type='password'], input[type='file'], select, textarea
      width: 100%

@media MSCREEN
  form.tablet-full
    input[type='text'], input[type='email'], input[type='search'], input[type='tel'], input[type='url'], input[type='password'], input[type='file'], select, textarea, label
      width: 100%

@media SSCREEN
  form.mobile-full
    input[type='text'], input[type='email'], input[type='search'], input[type='tel'], input[type='url'], input[type='password'], input[type='file'], select, textarea, label
      width: 100%