@import "__variables.styl"

.example
  .unit
    background: DARK
    color: WHITE
    padding: PADDED
    border-radius: ROUNDED
  .icon
    font-size: 2em
    display: inline-block
    margin: 0 0.5em 0.5em 0
    min-width: 30px
    text-align: center

.alert, .example .unit
  font-weight: bold
  text-shadow: 0 1px 0 rgba(0,0,0,0.25)